@keyframes rotate-decoration {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@keyframes down-decoration {
  0% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(-3%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-1.5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shanin-decoration {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home .hero img {
  max-height: 240px;
}

.decoration-hang {
  position: fixed;
  top: 0;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 30px;
  &::before {
    content: "";
    display: block;
    margin-left: calc(50% - 0.5px);
    width: 1px;
    background-color: #283c5f;
    height: calc(100% - 30px);
  }
  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -5px;
    background-image: url(/images/star.svg);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotate-decoration 6s linear 0s infinite;
  }
}

.decoration-hang-moon {
  &::after {
    background-image: url(/images/moon.svg);
  }
}

html.dark .decoration-hang {
  &::before {
    filter: invert(70%);
  }
  &::after {
    filter: invert(200%);
  }
}
