.font-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: BadScript, cursive;
}
.font-container h2 {
  display: flex;
  color: transparent;
  font-size: 100px;
  margin: 0;
  border-bottom: none;
}
.font-letter {
  animation: font-shine-letter 3s linear infinite;
  animation-delay: calc(0.1s * var(--idx));
}
@keyframes font-shine-letter {
  0% {
    color: #fff;
    filter: blur(2px) hue-rotate(0deg);
    text-shadow: 0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #00b3ff,
    0 0 80px #00b3ff,
    0 0 120px #00b3ff;
  }
  30%, 70% {
    color: #fff;
    filter: blur(2px) hue-rotate(360deg);
    text-shadow: 0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #00b3ff,
    0 0 80px #00b3ff,
    0 0 120px #00b3ff;
  }
  100% {
    color: transparent;
    text-shadow: none;
    filter: blur(2px) hue-rotate(0deg);
  }
}
body {
  background-color: #000;
}
@font-face {
  font-family: BadScript;
  src: url(BadScript-Regular.ttf)
}