.colorful-menu li {
  position: relative;
  list-style: none;
}
.colorful-menu li a {
  position: relative;
  font-size: 30px;
  text-decoration: none;
  overflow-wrap: normal;
  color: transparent;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}
.colorful-menu li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  z-index: 1;
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
.colorful-menu li a:hover {
  text-decoration: none;
}
.colorful-menu li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}
html.dark .colorful-menu li a {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}